/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.popis {
    background-image: url(images/pozadi.jpg);
    position: relative;
}

.text {

    color: white;
}

.telefon {
    position: absolute;
    margin-left: 550px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
    border: white;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
    width: 20%;
    text-align: center;
}

ul {
    color: gray;
}

.vybrana {
    color: black;
    text-transform: uppercase;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.menu {
    margin: 0;
    padding: 0;
    width: 960px;
    text-align: center;
    background-color: white;
    display: inline-block;
}

.menu li {
    display: inline-block;
    padding: 20px 30px;
}

header {
    margin: 0;
    padding: 0;
}