/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.menu li {
    display: inline-block;
    padding: 20px 30px;
    font-size: 20px;
}

.vybrana {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    margin: 0;
    padding: 0;
}

.top {
    background-image: url(images/pozadi.jpg);
    position: relative;
    min-height: 450px;
    padding: 2rem 3rem;
}

.nadpis1 {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 90px;
}

.popis {
    color: white;
    font-weight: 3OO;
    font-size: 32px;
    padding: 20px;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.tlacitko1 {
    padding: 20px;
    border: white;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    font-size: 20px;
    width: 25%;
    text-align: center;
    margin-right: 20px;
    background-color: #48418e;
}

.tlacitko2 {
    padding: 20px;
    border: white;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    font-size: 20px;
    width: 25%;
    text-align: center;
}

.telefon {
    position: absolute;
    padding: 0;
    right: 0;
    bottom: 0;
}

.bottom {
    display: flex;
    padding: 30px;
}

.prvni, .druhy, .treti {
    text-align: center;
}

.nadpis2 {
    color: #48418e;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

footer {
    background-color: #48418e;
    color: white;
    text-align: center;
    padding: 10px;
}